$breakpoint-small: 750px;
$breakpoint-med-small: 980px;
$breakpoint-med: 1175px;

@mixin screen($size, $pixels: $breakpoint-small) {
  @if $size == "med-small" {
    @media screen and (min-width: $breakpoint-small) {
      @content;
    }
  } @else if $size == "med" {
    @media screen and (min-width: $breakpoint-med-small) {
      @content;
    }
  } @else if $size == "large" {
    @media screen and (min-width: $breakpoint-med) {
      @content;
    }
  } @else if $size == "custom" {
    @media screen and (min-width: $pixels + px) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin center($position) {
  position: absolute;

  @if $position == "vertical" {
    top: 50%;

    transform: translateY(-50%);
  } @else if $position == "horizontal" {
    left: 50%;

    transform: translate(-50%);
  } @else if $position == "both" {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

@mixin backgroundImg($url, $position, $size: cover, $repeat: no-repeat) {
  background: $url;
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin flex($jContent: center, $aItems: center, $direction: row) {
  display: flex;
  justify-content: $jContent;
  align-items: $aItems;
  flex-direction: $direction;
}
