//colors
$header-bg: #393d50;
$navbar-footer-bg: #212331;
$nav-link-hover-color: #00bcd4;
$nav-link-color: #99a9b5;
$black: #1f1f1f;
$white: white;
$text-secondary: #868686;
$sidebar: #f4f6f7;
$red: #e7272d;
$little-info-bg: #333031;
$little-info-icons: #af9972;
$chef-recomended-bg: #f1efe8;
//fonts
$mont: "Montserrat", sans-serif;
$playfire: "Playfair Display", serif;
$source-sans: "Source Sans Pro", sans-serif;
$kaush: "Kaushan Script", cursive;
